include header.jade
//- banner
.inside-banner
  .container
    span.pull-right
      a(href='#') Home
      |  / Agents
    |     
    h2 Agents
//- banner
.container
  .spacer.agents
    .row
      .col-lg-8.col-lg-offset-2.col-sm-12
        //- agents
        .row
          .col-lg-2.col-sm-2
            a(href='#')
              img.img-responsive(src='images/agents/1.jpg', alt='agent name')
          |         
          .col-lg-7.col-sm-7
            h4 John Smith
            p
              | Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
          |         
          .col-lg-3.col-sm-3
            span.glyphicon.glyphicon-envelope
            |  
            a(href='mailto:abc@realestate.com') abc@realestete.com
            br
            |         
            span.glyphicon.glyphicon-earphone
            |  (9009) 899 889
        //- agents
        //- agents
        .row
          .col-lg-2.col-sm-2
            a(href='#')
              img.img-responsive(src='images/agents/2.jpg', alt='agent name')
          |         
          .col-lg-7.col-sm-7
            h4 John Smith
            p
              | Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
          |         
          .col-lg-3.col-sm-3
            span.glyphicon.glyphicon-envelope
            |  
            a(href='mailto:abc@realestate.com') abc@realestete.com
            br
            |         
            span.glyphicon.glyphicon-earphone
            |  (9009) 899 889
        //- agents
        //- agents
        .row
          .col-lg-2.col-sm-2
            a(href='#')
              img.img-responsive(src='images/agents/3.jpg', alt='agent name')
          |         
          .col-lg-7.col-sm-7
            h4 John Smith
            p
              | Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
          |         
          .col-lg-3.col-sm-3
            span.glyphicon.glyphicon-envelope
            |  
            a(href='mailto:abc@realestate.com') abc@realestete.com
            br
            |         
            span.glyphicon.glyphicon-earphone
            |  (9009) 899 889
        //- agents
        //- agents
        .row
          .col-lg-2.col-sm-2
            a(href='#')
              img.img-responsive(src='images/agents/4.jpg', alt='agent name')
          |         
          .col-lg-7.col-sm-7
            h4 John Smith
            p
              | Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
          |         
          .col-lg-3.col-sm-3
            span.glyphicon.glyphicon-envelope
            |  
            a(href='mailto:abc@realestate.com') abc@realestete.com
            br
            |         
            span.glyphicon.glyphicon-earphone
            |  (9009) 899 889
        //- agents
include footer.jade
