include header.jade
//- banner
.inside-banner
  .container
    span.pull-right
      a(href='#') Home
      |  / Blogs
    |     
    h2 Blogs
//- banner
.container
  .spacer.blog
    .row
      .col-lg-8.col-sm-12
        // blog list
        .row
          .col-lg-4.col-sm-4
            a.thumbnail(href='blogdetail.php')
              img(src='images/blog/4.jpg', alt='blog title')
          |           
          .col-lg-8.col-sm-8
            h3
              a(href='blogdetail.php') Creative business to takeover the market
            |             
            .info Posted on: Jan 20, 2013
            |             
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            |             
            a.more(href='blogdetail.php') Read More
        //- blog list
        //- blog list
        .row
          .col-lg-4.col-sm-4
            a.thumbnail(href='blogdetail.php')
              img(src='images/blog/2.jpg', alt='blog title')
          |           
          .col-lg-8.col-sm-8
            h3
              a(href='blogdetail.php') Creative business to takeover the market
            |             
            .info Posted on: Jan 20, 2013
            |             
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            |             
            a.more(href='blogdetail.php') Read More
        //- blog list
        //- blog list
        .row
          .col-lg-4.col-sm-4
            a.thumbnail(href='blogdetail.php')
              img(src='images/blog/1.jpg', alt='blog title')
          |           
          .col-lg-8.col-sm-8
            h3
              a(href='blogdetail.php') Creative business to takeover the market
            |             
            .info Posted on: Jan 20, 2013
            |             
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            |             
            a.more(href='blogdetail.php') Read More
        //- blog list
        //- blog list
        .row
          .col-lg-4.col-sm-4
            a.thumbnail(href='blogdetail.php')
              img(src='images/blog/4.jpg', alt='blog title')
          |           
          .col-lg-8.col-sm-8
            h3
              a(href='blogdetail.php') Creative business to takeover the market
            |             
            .info Posted on: Jan 20, 2013
            |             
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            |             
            a.more(href='blogdetail.php') Read More
        //- blog list
        //- blog list
        .row
          .col-lg-4.col-sm-4
            a.thumbnail(href='blogdetail.php')
              img(src='images/blog/3.jpg', alt='blog title')
          |           
          .col-lg-8.col-sm-8
            h3
              a(href='blogdetail.php') Creative business to takeover the market
            |             
            .info Posted on: Jan 20, 2013
            |             
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            |             
            a.more(href='blogdetail.php') Read More
        //- blog list
      |       
      .col-lg-4.visible-lg
        // tabs
        .tabbable
          ul.nav.nav-tabs
            li
              a(href='#tab1', data-toggle='tab') Recent Post
            |             
            li
              a(href='#tab2', data-toggle='tab') Most Popular
            |             
            li.active
              a(href='#tab3', data-toggle='tab') Most Commented
          |           
          .tab-content
            #tab1.tab-pane
              ul.list-unstyled
                li
                  h5
                    a(href='blogdetail.php') Real estate marketing growing
                  |                   
                  .info Posted on: Jan 20, 2013
                |                 
                li
                  h5
                    a(href='blogdetail.php') Real estate marketing growing
                  |                   
                  .info Posted on: Jan 20, 2013
                |                 
                li
                  h5
                    a(href='blogdetail.php') Real estate marketing growing
                  |                   
                  .info Posted on: Jan 20, 2013
            |             
            #tab2.tab-pane
              ul.list-unstyled
                li
                  h5
                    a(href='blogdetail.php') Market update on new apartments
                  |                   
                  .info Posted on: Jan 20, 2013
                |                 
                li
                  h5
                    a(href='blogdetail.php') Market update on new apartments
                  |                   
                  .info Posted on: Jan 20, 2013
                |                 
                li
                  h5
                    a(href='blogdetail.php') Market update on new apartments
                  |                   
                  .info Posted on: Jan 20, 2013
            |             
            #tab3.tab-pane.active
              ul.list-unstyled
                li
                  h5
                    a(href='blogdetail.php') Creative business to takeover the market
                  |                   
                  .info Posted on: Jan 20, 2013
                |                 
                li
                  h5
                    a(href='blogdetail.php') Creative business to takeover the market
                  |                   
                  .info Posted on: Jan 20, 2013
        //- tabs
include footer.jade
